.polygon-grid-container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.delete-modal-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.confirm-delete-button {
  background-color: #c23b22;
}
