.card-container {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas-container {
  margin-top: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.card-header button {
  padding: 8px;
}
