h1 {
  text-align: center;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.create-polygon-container {
  display: flex;
  padding: 12px;
  gap: 8px;
}

.polygon-name-input {
  padding-inline: 8px;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  font-size: 16px;
}

.delete-modal-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.confirm-delete-button {
  background-color: #c23b22;
}

.create-modal-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.save-polygon-button {
  background-color: #80b577;
}
